{% extends "catalog/base.html" %}
{% block content %}
<header class="smallheader text-center text-white d-flex"
        style="background-image: url({{ product.picture }}) !important;">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>{{ object.name }}</strong>
                </h1>
            </div>
        </div>
    </div>
</header>
<section id="detail">
    <div class="container my-auto">
        <div class="row">
            <div id="detail" class="col-lg-12 text-center">

                <h2 class="section-heading">{{ object.title }}</h2>
                <hr class="my-4">
                <br>

                <img class="product-detail-img"
                     src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ object.product.nutrition_grade }}.svg"
                     alt="nutrition score {{ object.product.nutrition_grade }}"
                     title="Nutri-score {{ object.product.nutrition_grade }}"/>
                <img class="product-detail-img" src="{{ object.product.nutrition_image}}" alt="nutrition 100g"
                     title="Nutrition 100g"/>
                <br>

                <a href="{{ object.product.url}}" class="btn btn-primary btn-xl mt-50" target="_blank">Voir la fiche
                    Open Food Facts</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}